.product .name {
    text-align: center; /*выравнивание по центру*/
    padding-bottom: 6px; /*отступ снизу 6 пикс*/
    border-bottom: 1px solid #ddd; /*линия снизу серая*/
}

.product .code {
    display: inline-block; /*Для отображения кнопки купить справа в одну линию, ато она спряталась*/
    font-size: 0.8em; /*размер шрифта на 80% по сравнению с родителем*/
    margin: 11px 0 16px; /*просто задаем отступы*/
}

.product {
    position: relative;/*делаем чтобы прайс был абсолютный относительно этого родителя*/
}

.product .price {
    position: absolute;/*чтобы переместить куда нам надр*/
    left: -10px; /*чтобы выезжало*/
    top: 30px;
    background: #FAAC58;/*Задаем цвет*/
    font-size: 12pt; /*Размер шрифта 12 пунктов*/
    color: #1D436A; /*цвет текста подобран уже*/
    font-weight: bold;/*Шрифт с затемнением*/
    padding: 5px 10px 5px 5px; /*Задаем внутренние отступы*/
   -webkit-border-bottom-right-radius:10px; /*Скругления для более ранних версий webkit*/
      -moz-border-bottom-right-radius:10px; /*Скругления для более ранних версий mozilla*/
           border-bottom-right-radius:10px; /*Скругления*/
      -webkit-border-top-right-radius:10px; /*Скругления для более ранних версий webkit*/
         -moz-border-top-right-radius:10px; /*Скругления для более ранних версий mozilla*/
              border-top-right-radius:10px; /*Скругления*/
}

.product .name, /*Этот блок сделан для того чтобы при длинных названиях было троеточие если не вмещаются*/
product .list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product .thumbnail {
    position: relative;/*делаем чтобы дескрипшн был абсолютный относительно этого родителя*/
}

.product .desc {
    position: absolute; /*располагаем относительно каринки*/
    left: 0; /*располагаем прям поверх картинки впритык*/
    right:0; /*располагаем прям поверх картинки впритык*/
    top: 0; /*располагаем прям поверх картинки впритык*/
    bottom: 0; /*располагаем прям поверх картинки впритык*/
    width: 100%; /*занимает все пространство в пределах картинки*/
    height: 100%; /*занимает все пространство в пределах картинки*/
    opacity: 0.87; /*Прозрачность*/
    text-align: justify; /*Выравнивание текста по ширине*/
    background: #FFF; /*Фон лучше писать не white а указывать константу #FFF*/
    padding: 7px;
    display: none; /*По умолчанию данный компонент не должен отображаться*/
}

.product .cell {/*Теперь строим нашу ячейку*/
    text-align: center; /*Выравнивание по центру*/
    display: table;/*Будем отображать как табличка*/
    width: 100%; /*На всю*/
    height: 100%; /*На всю*/
}

.product .cell p{
    vertical-align: middle;/*Вертикальное выравнивание*/
    display: table-cell;/*Для того чтобы срабатывало вертикальное выравнивание*/
}

.product .desc .title{
    text-align: center; /*Выравнивание по центру*/
    text-transform: uppercase; /*Трансформация к верхнему регистру*/
    font-size: 1.2em; /*Размер шрифта чуть больше обычного*/
    font-weight: bold; /*Жирный*/
    margin-bottom: 5px; /*Отклонение небольшой отступ*/
    display: block; /*Отображение как блок*/
}

.product .thumbnail:HOVER .desc{ /*Для того чтобы отображать наше описание при наведении курсора*/
    display: block;
}

.list-group{
    margin: 0;
}

.col-xlg-2{ /*Зададим свои стили отображения товаров для больших экранов*/
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

/*Пропишем медиа-запрос, для которых будем применять данные стили:*/
@media (min-width: 1600px) {/*Если у нас минимальная ширина 1600px то тогда отображаем инфу след образом:*/
    .col-xlg-2 {
        float:left;
        width: 16.6667%;
    }
}

/*Здесь все просто*/
footer {
    padding-top: 20px;
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    margin-top: 20px;
}

.panel-success .panel-heading { /*Взято из bottstrap.css*/
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-success .panel-heading {/*Взято из bottstrap-theme.css*/
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
    background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
    background-repeat: repeat-x;
}

.more-options {
    text-align: center;
    margin-top: 10px;
}
.more-options a {
    cursor: pointer;
}

.xs-option-container {
    margin: 10px 0;
}

.xs-option-container a{
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 767px) {
    #findProducts,
    #productCatalog {
        display: block;
    }
}